1.Given a list [4, 8, 2, 10, 6], find the maximum number using a for loop.

In [1]:
numbers = [4, 8, 2, 10, 6]
max_number = numbers[0]
for num in numbers:
    if num > max_number:
        max_number = num
print("The maximum number is:", max_number)

The maximum number is: 10

2.Take input from the user and find the factorial of the number using a for loop.

In [2]:
number = int(input("Enter a number to find its factorial: "))
factorial = 1
for i in range(1, number + 1):
    factorial *= i
print("The factorial of", number, "is:", factorial)

Enter a number to find its factorial: 5
The factorial of 5 is: 120

3.Given a list ['apple', 'banana', 'cherry', 'date', 'fig'], print each element along with its index using a for loop.

In [3]:
fruits = ['apple', 'banana', 'cherry', 'date', 'fig']
for index, fruit in enumerate(fruits):
    print("Index:", index, "Fruit:", fruit)

Index: 0 Fruit: apple
Index: 1 Fruit: banana
Index: 2 Fruit: cherry
Index: 3 Fruit: date
Index: 4 Fruit: fig

4.Take a string input from the user and count the number of uppercase letters using a for loop.(use char.isupper()ðŸ˜Š)

In [4]:
input_string = input("Enter a string: ")
uppercase_count = 0
for char in input_string:
    if char.isupper():
        uppercase_count += 1
print("Number of uppercase letters:", uppercase_count)

Enter a string: PAYAL
Number of uppercase letters: 5

5.Given a list of integers [17, 25, 39, 42, 58, 71, 86, 93], find the sum of all the even numbers using a for loop.

In [5]:
integers = [17, 25, 39, 42, 58, 71, 86, 93]
even_sum = 0
for num in integers:
    if num % 2 == 0:
        even_sum += num
print("The sum of all even numbers is:", even_sum)

The sum of all even numbers is: 186

6.Given a list [3, 6, 9, 12, 15], calculate the product of all the elements using a for loop.

In [6]:
numbers = [3, 6, 9, 12, 15]
product = 1
for num in numbers:
    product *= num
print("The product of all elements is:", product)

The product of all elements is: 29160

7.Given a list [2, 3, 5, 7, 11, 13, 17, 19], find the index of the first occurrence of the number 7 usingÂ aÂ forÂ loop.

In [7]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
index_of_seven = -1
for index, num in enumerate(numbers):
    if num == 7:
        index_of_seven = index
        break
if index_of_seven != -1:
    print("The index of the first occurrence of 7 is:", index_of_seven)
else:
    print("7 is not in the list.")

The index of the first occurrence of 7 is: 3