###1.Write a Python program to sum all the elements in a list.

In [ ]:
def sum_of_elements(my_list):
    return sum(my_list)
numbers = [10, 20, 30, 40, 50]
result = sum_of_elements(numbers)
print("The sum of all elements in the list is:", result)

The sum of all elements in the list is: 150

###2.Write a Python program to find the largest element in a list.

In [ ]:
new_list=[6,9,1.1,3.3,5,1,9,10.6,0,5]
max(new_list)

10.6

###3. Write a Python program to count the number of elements in a list.

In [ ]:
new_list=[6,9,1.1,3.3,5,1,9,10.6,0,5]
new_list.count(9)

2

###4.Write a Python program to find the average of elements in a list.

In [ ]:
def average_of_elements(my_list):
    if len(my_list) == 0:
        return 0
    return sum(my_list) / len(my_list)
numbers = [10, 20, 30, 40, 50]
result = average_of_elements(numbers)
print("The average of elements in the list is:", result)

The average of elements in the list is: 30.0

###5. Write a Python program to reverse a list.

In [ ]:
new_list=[6,9,1.1,3.3,5,1,9,10.6,0,5]
sorted(new_list,reverse=True)
#new_list[ : :-1]

[10.6, 9, 9, 6, 5, 5, 3.3, 1.1, 1, 0]

###6.Write a Python program to check if a given element exists in a list.

In [ ]:

def check_element_in_list(my_list, element):

 my_list = [1, 2, 3, 4, 5]
element = 3
print(f"{element} exists in the list.")

3 exists in the list.

###7.Write a Python program to remove duplicate elements from a list.

In [ ]:

def remove_duplicates(my_list):
    return list(set(my_list))
my_list = [1, 2, 3, 2, 4, 5, 1, 6, 4]
unique_list = remove_duplicates(my_list)

print("Original list:", my_list)
print("List after removing duplicates:", unique_list)

Original list: [1, 2, 3, 2, 4, 5, 1, 6, 4]
List after removing duplicates: [1, 2, 3, 4, 5, 6]

###8.Write a Python program to find the second largest element in a list.

In [ ]:

def find_second_largest(my_list):
   # unique_list = list(set(my_list))
   # unique_list.sort()
   # if len(unique_list) < 2:
       # return None
   # return unique_list[-2]
                  my_list = [10, 20, 4, 45, 99, 45]

second_largest = find_second_largest(my_list)

#if second_largest is not None:
print("The second largest element is:", second_largest)
#else:
   # print("The list does not have enough unique elements.")

The second largest element is: None

###9. Write a Python program to sort elements in a list in ascending order.

In [ ]:
def sort_list_ascending(my_list):
     return sorted(my_list)
my_list = [5, 3, 8, 6, 7, 2]

sorted_list = sort_list_ascending(my_list)

print("Original list:", my_list)
print("Sorted list in ascending order:", sorted_list)

Original list: [5, 3, 8, 6, 7, 2]
Sorted list in ascending order: [2, 3, 5, 6, 7, 8]

### 10.Write a Python program to merge two lists and sort them.

In [ ]:
def merge_and_sort(list1, list2):
    merged_list = list1 + list2
    return sorted(merged_list)
list1 = [3, 1, 4]
list2 = [9, 2, 6, 5]

merged_sorted_list = merge_and_sort(list1, list2)

print("List 1:", list1)
print("List 2:", list2)
print("Merged and sorted list:", merged_sorted_list)

List 1: [3, 1, 4]
List 2: [9, 2, 6, 5]
Merged and sorted list: [1, 2, 3, 4, 5, 6, 9]

###11.Given a nested list nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 9 from the list? Write a Python program to achieve this.

In [ ]:

nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
number_nine = nested_list_row[2][2]

print("The number is:", number_nine)

The number is: 9

###12.Suppose you have a nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 8 from the list? Write a Python program to achieve this.

In [ ]:
nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
number_eight = nested_list_row[2][1]

print("The number is:", number_eight)

The number is: 8

13.How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9,[1,55,77,100]]?

In [ ]:

nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9, [1, 55, 77, 100]]]
number_hundred = nested_list_column[2][3][3]
print("The number is:", number_hundred)

The number is: 100

###14.How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9, [1,55,77,100]] using negative indexing?

In [ ]:

nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9, [1, 55, 77, 100]]]

number_hundred = nested_list_column[-1][-1][-1]

print("The number is:", number_hundred)

The number is: 100